<form class="formContainer">
  <h1 style="text-align: center;" color="accent">Add Wisdom</h1>
    <h5 style="margin: 0;">Select Existing Author</h5>
    <mat-form-field>
      <mat-select placeholder="Authors">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let author of authorList" [value]="author.name"  (click)="setAuthorId(author.id)" name="AuthorId">
          {{author.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5 style="margin: 0;">Author not there? Create a new one</h5>
    <mat-form-field style="margin-bottom: 0;">
      <mat-label>Author First Name</mat-label>
      <input matInput placeholder="First Name" [(ngModel)]="wisdomToAdd.AuthorFirstName"
      name="AuthorFirstName">
    </mat-form-field>
    <mat-form-field style="margin-bottom: 5px;">
      <mat-label>Author Last Name</mat-label>
      <input matInput [(ngModel)]="wisdomToAdd.AuthorLastName" placeholder="Last Name"
      name="AuthorLastName">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Content</mat-label>
      <input matInput placeholder="e.g: Stand up straight, not straightened."
      name="Content" [(ngModel)]="wisdomToAdd.Content">
      <mat-hint>The quote you want to remember</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Source</mat-label>
      <input matInput placeholder="e.g: Stand up straight, not straightened."
      name="Source" [(ngModel)]="wisdomToAdd.Source">
      <mat-hint>The book and/or chapter the content is from</mat-hint>
    </mat-form-field>
  <button mat-raised-button (click)="addWisdom()">Add</button>
</form>
<!-- <div *ngFor="let author in authorList">
  <p>{{ author.id }}</p>
</div> -->