<mat-sidenav-container style="font-family: Ubuntu;">
  <mat-sidenav  #drawer class="drawer-container"  (click)="drawer.toggle()" mode="over">
    <button mat-icon-button>
      <mat-icon class="menuIcon">close</mat-icon>
    </button>
    <a (click)="sendHome()"><h2 style="font-family: 'Cinzel Decorative';color: #2380c6">Wiser</h2></a>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="/create" color="primary">Add Quote</a>
      <mat-divider></mat-divider> -->
      <a mat-list-item routerLink="/manage" color="primary">Manage</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/browse" color="primary">The Community's Wisdom</a>
      <!-- <mat-divider></mat-divider> -->
      <!-- <a mat-list-item routerLink="/edit" color="primary">Edit</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar fxLayoutAlign="center center" style="background-color: #2380c6; color: #fff2cc;">
    <div class="mat-sidenav-container">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="menuIcon">menu</mat-icon>
      </button>
    </div>
    <div style="font-family: 'Cinzel Decorative', cursive; margin: 0 auto;">
      <a (click)="sendHome()" style="text-decoration: none;color: #fff2cc;cursor: pointer;"><span style="font-size: 1.6em;">Wiser</span></a>
    </div>
    <div style="float: right;">
        <button mat-icon-button routerLink="/create"><mat-icon>add</mat-icon></button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
