<div style="text-align: center;" fxLayout="column wrap" fxLayoutGap="1px" fxLayoutAlign="flex-start">
  <mat-card fxFlex="0 1" *ngFor="let wisdom of wisdomList">
    <div *ngIf="wisdom">
      <mat-card-content style="font-family: 'Cinzel', cursive;">
        <h2>{{ wisdom.content }}</h2>
      </mat-card-content>
      <mat-card-actions style="margin-bottom: 10px;">
        <p>{{ wisdom.source }}</p>
        <p> {{ wisdom.authorname }}</p>
      </mat-card-actions>
    </div>
  </mat-card>
</div>